# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/

# Data files
data/raw/
data/interim/
data/processed/

# Model files
models/*.pkl
models/*.joblib

# Mac system files
.DS_Store

# VS Code
.vscode/